{% extends '@Jinya/Installer/base.html.twig' %}

{% block content %}
    {{ include('@Jinya/Installer/Default/steps.html.twig', {'activeStep': 1}) }}
    {% if exception is defined %}
        <div class="ui negative message">
            <div class="header">
                {{ exception.getMessage() }}
            </div>
            <p>{{ exception.getTraceAsString() }}</p>
        </div>
    {% endif %}
    <form action="{{ path('install_database') }}" method="post">
        <div class="ui info message">
            <div class="header">{{ 'install.database.title'|trans }}</div>
            <p>{{ 'install.database.content'|trans }}</p>
        </div>
        <button class="ui orange right floated button" type="submit">{{ 'install.database.submit'|trans }}</button>
    </form>
{% endblock %}

