{% extends '@Jinya/Installer/base.html.twig' %}

{% block content %}
    {{ include('@Jinya/Installer/Default/steps.html.twig', {'activeStep': 0}) }}
    {{ form_start(form) }}
    <div class="ui orange segment">
        <div class="ui orange ribbon label">{{ 'install.general.database.title'|trans }}</div>
        {{ form_row(form.databaseHost) }}
        {{ form_row(form.databasePort) }}
        {{ form_row(form.databaseName) }}
        {{ form_row(form.databaseUser) }}
        {{ form_row(form.databasePassword) }}
    </div>
    <div class="ui blue segment">
        <div class="ui blue ribbon label">{{ 'install.general.mailer.title'|trans }}</div>
        {{ form_row(form.mailerTransport) }}
        {{ form_row(form.mailerHost) }}
        {{ form_row(form.mailerSender) }}
        {{ form_row(form.mailerPort) }}
        {{ form_row(form.mailerUser) }}
        {{ form_row(form.mailerPassword) }}
    </div>
    <button class="ui primary right floated button" type="submit">{{ 'install.general.submit'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}