{% extends '@Backend/log/log_base.html.twig' %}

{% block content %}
    <h1>{{ 'backend.log.clear.title'|trans }}</h1>
    <p>{{ 'backend.log.clear.content'|trans|raw }}</p>
    <p>
        <a class="btn btn-danger" href="{{ url('backend_log_clear') }}" data-ajax="true"
           data-ajax-success-message="{{ 'backend.log.clear.success'|trans }}"
           data-ajax-error-message="{{ 'backend.log.clear.error'|trans }}"
           data-redirect-active-selector="[data-action-type=overview]"
           data-ajax-progress-message="{{ 'backend.log.clear.processing'|trans }}"
           data-ajax-method="POST"
           data-redirect-target="{{ url('backend_log_overview') }}">{{ 'generic.clear'|trans }}</a>
        <a class="btn btn-secondary" href="{{ url('backend_log_overview') }}" data-target="#content"
           data-action="nav">{{ 'generic.cancel'|trans }}</a>
    </p>
{% endblock %}