{% use 'bootstrap_4_horizontal_layout.html.twig' %}
{% block form_row -%}
    {%- if expanded is defined and expanded -%}
        {{ block('fieldset_form_row') }}
    {%- else -%}
        <div class="form-group row{% if (not compound or force_error|default(false)) and not valid %} is-invalid{% endif %}">
            {{- form_label(form) -}}
            <div class="{{ block('form_group_class') }}{% if 'checkbox' in block_prefixes %} offset-sm-2{% endif %}">
                {{- form_widget(form) -}}
                {{- form_errors(form) -}}
            </div>
        </div>
    {% endif %}
{%- endblock form_row %}

{% block checkbox_widget -%}
    <div class="checkbox">
        <label class="custom-control custom-checkbox">
            <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %}
                   class="custom-control-input"/>
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</span>
        </label>
    </div>
{%- endblock %}

{% block radio_widget -%}
    <div class="radio">
        <label class="custom-control custom-checkbox">
            <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %}
                   class="custom-control-input"/>
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</span>
        </label>
    </div>
{%- endblock %}