{% extends '@Jinya/Updater/base.html.twig' %}

{% block content %}
    {{ include('@Jinya/Updater/Default/steps.html.twig', {'activeStep': 0}) }}
    {% if exception is defined %}
        <div class="ui negative message">
            <div class="header">
                {{ exception.getMessage() }}
            </div>
            <p>{{ exception.getTraceAsString() }}</p>
        </div>
    {% endif %}
    {% if not_found is defined %}
        <div class="ui negative message">
            <div class="header">
                {{ 'update.general.not_found.title'|trans }}
            </div>
            <p>{{ 'update.general.not_found.content'|trans }}</p>
        </div>
    {% endif %}
    <form method="post">
        <div class="ui blue segment">
            <div class="field">
                <label for="newVersion">{{ 'update.version'|trans }}</label>
                <select class="ui dropdown" id="newVersion" name="newVersion" data-type="version">
                    {% for option in versions %}
                        <option {% if currentVersion == option.version %}selected{% endif %}
                                value="{{ option.path }}">{{ option.version }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="ui right floated buttons">
            <button class="ui button" value="cancel" name="action" type="submit">
                {{ 'update.cancel'|trans }}
            </button>
            <button class="ui primary button" value="start" name="action" type="submit">
                {{ 'update.update'|trans }}
            </button>
        </div>
    </form>
{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script>
      $('[data-type=version]').dropdown();
    </script>
{% endblock %}