{% extends '@Jinya/Updater/base.html.twig' %}

{% block content %}
    <div class="ui info message">
        <div class="header">
            {{ 'update.no_update_available.title'|trans }}
        </div>
        <p>{{ 'update.no_update_available.content'|trans({'%currentVersion%': currentVersion}) }}</p>
    </div>
    <form method="post" action="{{ path('update_done') }}">
        <button class="ui primary right floated button" type="submit">{{ 'update.done.designer'|trans }}</button>
    </form>
{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script>
      $('[data-type=version]').dropdown();
    </script>
{% endblock %}