{% extends '@Backend/artworks/artworks_base.html.twig' %}

{% block content %}
    <form method="POST">
        <h1>{{ 'backend.artworks.delete.title'|trans({'%name%': artwork.name}) }}</h1>
        <p>{{ 'backend.artworks.delete.content'|trans({'%name%': artwork.name})|raw }}</p>
        <p>
            <button class="btn btn-danger" type="submit">{{ 'generic.delete'|trans }}</button>
            <a class="btn btn-secondary" href="{{ url('backend_artworks_overview') }}" data-target="#content"
               data-action="nav">{{ 'generic.cancel'|trans }}</a>
        </p>
    </form>
{% endblock %}
