{% extends '@Backend/artworks/artworks_base.html.twig' %}

{% block content %}
    {{ form_errors(form) }}
    {{ form_start(form) }}
    {% if artwork.picture %}
        <div class="form-group row">
            <div class="col-sm-2 offset-sm-2 artwork-thumbnail-container">
                <img src="{{ artwork.picture }}" style="height: 150px;" alt="{{ artwork.name }}"/>
            </div>
        </div>
    {% endif %}
    {{ form_widget(form) }}
    <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
            <button type="submit" class="btn btn-primary">{{ 'generic.save'|trans }}</button>
            <a class="btn btn-secondary" href="{{ url('backend_artworks_overview') }}" data-target="#content"
               data-action="nav">{{ 'generic.cancel'|trans }}</a>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}