<div class="md-modal" id="edit-modal" data-source-url="{{ url('designer_artwork_list_all') }}"
     data-delete-url="{{ url('designer_gallery_images_position_delete', { 'gallerySlug': gallery.slug, 'id': '#tempid#' }) }}"
     data-save-url="{{ url('designer_gallery_images_position_change_image', { 'gallerySlug': gallery.slug, 'artworkSlug': '#tempslug#' }) }}">
    <div class="md-content">
        <span class="md-title">
            <img data-bind="attr: { src: initialSource }"/>
            {{ 'designer.gallery.edit.modal.title'|trans }}
        </span>
        {% include '@Designer/gallery/ArtworkModificationModalContent.html.twig' %}
        <div class="md-footer">
            <button data-bind="click: save, enable: canSave"
                    class="button button-round-s button-border-medium primary">{{ 'designer.gallery.edit.modal.save'|trans }}</button>
            <button data-action="close"
                    class="button button-round-s button-border-medium secondary">{{ 'generic.cancel'|trans }}</button>
            <button data-bind="click: deleteImage"
                    class="button button-round-s button-border-medium danger button-right">{{ 'generic.delete'|trans }}</button>
        </div>
    </div>
</div>