{% extends '@Backend/accesslog/accesslog_base.html.twig' %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <span class="label label-info">{{ method }}</span> {{ uri }} - {{ clientIp }}
        </div>
        <div class="card-body">
            <h4 class="card-title">{{ 'backend.accesslog.details.title'|trans(createdAt) }}</h4>
            <p class="card-text">
            <dl>
                <dt>{{ 'backend.accesslog.ip'|trans }}</dt>
                <dd>{{ clientIp }}</dd>
                <dt>{{ 'backend.accesslog.created_at'|trans }}</dt>
                <dd>{{ createdAt }}</dd>
                <dt>{{ 'backend.accesslog.userAgent'|trans }}</dt>
                <dd>{{ userAgent }}</dd>
                <dt>{{ 'backend.accesslog.method'|trans }}</dt>
                <dd>{{ method }}</dd>
            </dl>
            </p>
        </div>
    </div>
{% endblock %}
