<html>
<head>
    <title>{{ 'app.name'|trans }}</title>
    {% block styles %}
        {{ encore_entry_link_tags('designer') }}
        {% block styles_additional_fonts %}
            <link rel="stylesheet" href="//cdn.materialdesignicons.com/3.7.95/css/materialdesignicons.min.css">
        {% endblock %}
    {% endblock %}
    {% block favicons %}
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('designer-app/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('designer-app/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('designer-app/favicon-16x16.png') }}">
        <link rel="shortcut icon" href="{{ asset('designer-app/favicon.ico') }}">
        <meta name="apple-mobile-web-app-title" content="Jinya Gallery CMS">
        <meta name="application-name" content="Jinya Gallery CMS">
        <meta name="msapplication-TileColor" content="#8ac8da">
        <meta name="theme-color" content="#8ac8da">
    {% endblock %}
    {% block meta %}
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
        <meta name="viewport" content="width=device-width"/>
        {% block custom_meta %}
        {% endblock %}
    {% endblock %}
</head>
<body>
{% block body %}
    <div id="app"></div>
{% endblock %}
{% block scripts %}
    <script>
      window.messages = {{ get_translation_catalogue()|json_encode|raw }};
      window.validators = {{ get_translation_catalogue('validators')|json_encode|raw }};
    </script>
{% block scripts_polyfills %}
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
{% endblock %}
{% block scripts_tinymce %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.7.10/tinymce.min.js"
            integrity="sha256-ibVg3nLs0DX10T7r/GxKZzdLsqyGTDzVBQv9WmxQOt0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.7.10/themes/modern/theme.min.js"
            integrity="sha256-fY0yySF8CMlB5wmj3nwpIjt83fVJCeorkoBTfc5xd/o=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.7.10/plugins/anchor/plugin.min.js"
            integrity="sha256-AyCmNKBvmfz1rW3rFIJeYYPrQwDp9GH2DWSEjj24qp8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.7.10/plugins/autolink/plugin.min.js"
            integrity="sha256-tiaecEfh2e4XtcuZj11rE5KsVn4r/bB453ttfYde1Og=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.7.10/plugins/colorpicker/plugin.min.js"
            integrity="sha256-RLRauLfUcMsWa9Sj/emZTbtzBdknS0tHDJH5jksUydE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.7.10/plugins/contextmenu/plugin.min.js"
            integrity="sha256-nskj7w9Y0nNP+PoTWQACBOm7WI1Rf02uGVYbKIfcbEY=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.7.10/plugins/fullscreen/plugin.min.js"
            integrity="sha256-qv3u5l7Qr5xrxbPeD6gL5o61N4p7ZQXHSqLOpQLWcB4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.7.10/plugins/help/plugin.min.js"
            integrity="sha256-nn5VXVDtwHRfqrywGxMCidRdyI230sfvEdaZ0Gbgwag=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.7.10/plugins/image/plugin.min.js"
            integrity="sha256-S5iCzx6srQ5D/wRbDcG151NqVr2VTTv280vzSdVPhCI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.7.10/plugins/table/plugin.min.js"
            integrity="sha256-AcaQtvDz+n68UzyF4FnV9536WCf2Wc/1D2Es4IK4pQQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.7.10/plugins/textcolor/plugin.min.js"
            integrity="sha256-7bXvStPDyUwaS7lz5zmQiergy4450s0mrmhG3DXFH3U=" crossorigin="anonymous"></script>
{% endblock %}
{% block scripts_theme %}
    {{ encore_entry_script_tags('designer') }}
{% endblock %}
{% endblock %}
</body>
</html>
