<!DOCTYPE html>
<html>
<head>
    <title>{{ 'app.name'|trans }}</title>
    {% block styles %}
        {{ encore_entry_link_tags('designer') }}
        {% block styles_additional_fonts %}
            <link rel="stylesheet" href="https://use.typekit.net/jmo2xoh.css">
        {% endblock %}
    {% endblock %}
    {% block favicons %}
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('designer-app/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('designer-app/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('designer-app/favicon-16x16.png') }}">
        <link rel="shortcut icon" href="{{ asset('designer-app/favicon.ico') }}">
        <meta name="apple-mobile-web-app-title" content="Jinya Gallery CMS">
        <meta name="application-name" content="Jinya Gallery CMS">
        <meta name="msapplication-TileColor" content="#8ac8da">
        <meta name="theme-color" content="#8ac8da">
    {% endblock %}
    {% block meta %}
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width"/>
        {% block custom_meta %}
        {% endblock %}
    {% endblock %}
</head>
<body>
{% block body %}
    <div id="app"></div>
{% endblock %}
{% block scripts %}
    <script>
      window.messages = {{ get_translation_catalogue()|json_encode|raw }};
      window.validators = {{ get_translation_catalogue('validators')|json_encode|raw }};
    </script>
{% block scripts_polyfills %}
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
{% endblock %}
    {% block scripts_theme %}
        {{ encore_entry_script_tags('designer') }}
    {% endblock %}
{% endblock %}
</body>
</html>
