{% extends '@Designer/theme/theme.base.html.twig' %}
{% block header %}{{ 'layout.designer.theme'|trans }}{% endblock %}
{% block content %}
    <div class="list">
        {% for theme in themes %}
            <a title="{{ 'generic.edit'|trans }}" class="card" href="{{ url('designer_theme_config', { 'name': theme.name }) }}">
                {% if theme.previewImage is not empty %}
                    <img class="card-img-top" src="{{ asset(theme.previewImage) }}"/>
                {% endif %}
                <div class="card-body">
                    <h4 class="card-title">{{ theme.displayName }}</h4>
                    <p class="card-text">{{ theme.description }}</p>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}