<a href="{{ url("designer_page_edit", { "slug": page.slug }) }}"
   title="{{ 'layout.designer.page.edit'|trans({ 'title': page.title }) }}"><i class="fa fa-edit"></i></a>
<a href="#" data-delete="true" data-delete-title="{{ 'designer.page.delete.title'|trans }}"
   data-delete-content="{{ 'designer.page.delete.content'|trans({ 'title': page.title }) }}"
   data-delete-positive-button="{{ 'generic.delete'|trans }}"
   data-delete-negative-button="{{ 'generic.dont.delete'|trans }}"
   data-delete-url="{{ url('designer_page_delete', { 'id': page.id }) }}"
   data-redirect-target="{{ url('designer_page_index') }}"
   title="{{ 'generic.delete'|trans }}"><i class="fa fa-trash"></i></a>