{% block form_row -%}
    {{- form_widget(form) -}}
{%- endblock form_row %}

{%- block hidden_widget -%}
    <input type="hidden" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{%- endblock hidden_widget -%}

{%- block choice_widget -%}
    <div class="jinya-form__row--field">
        {{ form_label(form) }}
        <select id="{{ id }}" class="jinya-form__select" {{ block('widget_attributes') }}>
            <option value="" disabled
                    {% if value is empty %}selected="selected"{% endif %}>
                {% if placeholder is defined %}
                    {{ placeholder }}
                {% else %}
                    {{ label }}
                {% endif %}
            </option>
            {%- if preferred_choices|length > 0 -%}
                {% set options = preferred_choices %}
                {{- block('choice_widget_options') -}}
                {%- if choices|length > 0 and separator is not none -%}
                    <option disabled="disabled">{{ separator }}</option>
                {%- endif -%}
            {%- endif -%}
            {%- set options = choices -%}
            {{- block('choice_widget_options') -}}
        </select>
    </div>
    {{- form_errors(form) -}}
{%- endblock choice_widget -%}

{%- block checkbox_widget -%}
    <div class="jinya-form__row--checkbox">
        <input class="jinya-form__checkbox"
               type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} /> {{ form_label(form) }}
    </div>
{%- endblock checkbox_widget -%}

{%- block textarea_widget -%}
    <div class="jinya-form__row--field">
        {{ form_label(form) }}
        <textarea id="{{ id }}" class="jinya-form__textarea" {{ block('widget_attributes') }}>
            {{- value -}}
        </textarea>
        {{- form_errors(form) -}}
    </div>
{%- endblock textarea_widget -%}

{% block form_widget_simple -%}
    <div class="jinya-form__row--field">
        {%- set type = type|default('text') -%}
        {{- form_label(form) -}}
        <input id="{{ id }}"
               class="jinya-form__input"
               type="{{ type }}"
                {{ block('widget_attributes') }}
                {% if value is not empty %}value="{{ value }}" {% endif %}/>
        {{- form_errors(form) -}}
    </div>
{% endblock -%}

{% block form_label -%}
    <label for="{{ id }}"
            {% if label_attr %}
                {% with { attr: label_attr } %}
                    {{ block('attributes') }}
                {% endwith %}
            {% endif %}>
        {{ label }}
        {%- if required is defined and required == false %}
            {{ themeConfig.form.input.optional }}
        {% elseif required is not defined %}
            {{ dump(attr) }}
            {{ themeConfig.form.input.optional }}
        {%- endif -%}
    </label>
{%- endblock %}

{%- block form_start -%}
    {%- do form.setMethodRendered() -%}
    {% set method = method|upper %}
    {%- if method in ["GET", "POST"] -%}
        {% set form_method = method %}
    {%- else -%}
        {% set form_method = "POST" %}
    {%- endif -%}
    <form
        class="jinya-form"
        name="{{ name }}"
        method="{{ form_method|lower }}"
        {% if action != '' %}
            action="{{ action }}"
        {% endif %}
        {% for attrname, attrvalue in attr %}
            {{ attrname }}="{{ attrvalue }}"
        {% endfor %}
        {% if multipart %}
            enctype="multipart/form-data"
        {% endif %}>
        {%- if form_method != method -%}
            <input type="hidden" name="_method" value="{{ method }}"/>
        {%- endif -%}
{%- endblock form_start -%}
