{% set active = get_action_name(app.request.attributes) %}
{% block backend_accesslog_sidebar_overview %}
    <a class="nav-link {% if active == 'overview' %}active{% endif %}"
       href="{{ url('backend_accesslog_overview', {'id': '#temp#'}) }}" data-id="{{ id|default('') }}"
       data-action-type="details"
       data-target="#content"
       data-action="nav" data-response-has-id="true">{{ 'sidebar.accesslog.overview'|trans }}</a>
{% endblock %}
{% block backend_accesslog_sidebar_details %}
    <a class="nav-link {% if active == 'details' %}active{% endif %} overview"
       href="{{ url('backend_accesslog_details', {'id': '#temp#'}) }}" data-id="{{ id|default('') }}"
       data-action-type="details"
       data-target="#content"
       data-action="nav" data-response-has-id="true">{{ 'sidebar.accesslog.details'|trans }}</a>
{% endblock %}