{% set active = get_action_name(app.request.attributes) %}
{% block backend_artworks_sidebar_search %}
    <div class="nav-item" data-search="overview">
        <div class="input-group">
            <input type="search" class="form-control" placeholder="{{ 'generic.search'|trans }}"
                   aria-label="{{ 'generic.search'|trans }}" name="search"
                    {% if search is defined %}
                        value="{{ search }}"
                    {% endif %}
                   data-bind="value: search, valueUpdate: 'keyup'"/>
            <span class="input-group-btn">
                <button class="btn btn-outline-primary" type="button" data-bind="click: loadData"><i
                            class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
{% endblock %}
{% block backend_artworks_sidebar_overview %}
    <a class="nav-link {% if active == 'overview' %}active{% endif %}" href="{{ url('backend_artworks_overview') }}"
       data-target="#content" data-action="nav" data-after-success="Overview.init()"
       data-response-has-id="false">{{ 'sidebar.artworks.overview'|trans }}</a>
{% endblock %}
{% block backend_artworks_sidebar_add %}
    {% if is_granted('ROLE_WRITER') %}
        <a class="nav-link {% if active == 'add' %}active{% endif %}" href="{{ url('backend_artworks_add') }}"
           data-target="#content" data-action="nav" data-response-has-id="false">{{ 'sidebar.artworks.add'|trans }}</a>
    {% endif %}
{% endblock %}
{% block backend_artworks_sidebar_edit %}
    {% if is_granted('ROLE_WRITER') %}
        <a class="nav-link {% if active == 'edit' %}active{% endif %} overview"
           href="{{ url('backend_artworks_edit', {'id': '#temp#'}) }}" data-id="{{ id|default('') }}"
           data-action-type="edit" data-target="#content" data-action="nav"
           data-response-has-id="true">{{ 'sidebar.artworks.edit'|trans }}</a>
    {% endif %}
{% endblock %}
{% block backend_artworks_sidebar_details %}
    <a class="nav-link {% if active == 'details' %}active{% endif %} overview"
       href="{{ url('backend_artworks_details', {'id': '#temp#'}) }}" data-id="{{ id|default('') }}"
       data-action-type="details" data-target="#content" data-action="nav"
       data-response-has-id="true">{{ 'sidebar.artworks.details'|trans }}</a>
{% endblock %}
{% block backend_artworks_sidebar_history %}
    <a class="nav-link {% if active == 'history' %}active{% endif %} overview"
       href="{{ url('backend_artworks_history', {'id': '#temp#'}) }}" data-id="{{ id|default('') }}"
       data-action-type="history" data-target="#content" data-after-success="TabTools.init()"
       data-action="nav" data-response-has-id="true">{{ 'sidebar.artworks.history'|trans }}</a>
{% endblock %}
{% block backend_artworks_sidebar_delete %}
    {% if is_granted('ROLE_WRITER') %}
        <a class="nav-link {% if active == 'delete' %}active{% endif %} overview" data-id="{{ id|default('') }}"
           href="{{ url('backend_artworks_delete', {'id': '#temp#'}) }}" data-action-type="delete"
           data-target="#content" data-action="nav"
           data-response-has-id="true">{{ 'sidebar.artworks.delete'|trans }}</a>
    {% endif %}
{% endblock %}
{% block backend_artworks_sidebar_labels %}
    <span class="nav-header">{{ 'generic.labels'|trans }}</span>
    {% if labels is defined and labels is iterable %}
        {% for label in labels %}
            <a class="nav-link" data-label="{{ label.name }}" data-action="apply-label" href="#">{{ label.name }}</a>
        {% endfor %}
    {% endif %}
    <a href="#" data-toggle="modal" data-target="#addLabel" class="nav-link"
       data-action="add-label">{{ 'sidebar.generic.label.add'|trans }}</a>
{% endblock %}