{% set active = get_action_name(app.request.attributes) %}
{% block backend_users_sidebar_overview %}
    <a class="nav-link {% if active == 'overview' %}active{% endif %}" href="{{ url('backend_users_overview') }}"
       data-target="#content" data-action="nav" data-response-has-id="false">{{ 'sidebar.users.overview'|trans }}</a>
{% endblock %}
    {% block backend_users_sidebar_add %}
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <a class="nav-link {% if active == 'add' %}active{% endif %}" href="{{ url('backend_users_add') }}"
               data-target="#content" data-action="nav" data-response-has-id="false">{{ 'sidebar.users.add'|trans }}</a>
        {% endif %}
    {% endblock %}
{% block backend_users_sidebar_edit %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a class="nav-link {% if active == 'edit' %}active{% endif %} overview"
           href="{{ url('backend_users_edit', {'id': '#temp#'}) }}" data-id="{{ id|default('') }}"
           data-action-type="edit" data-target="#content" data-action="nav"
           data-response-has-id="true">{{ 'sidebar.users.edit'|trans }}</a>
    {% endif %}
{% endblock %}
{% block backend_users_sidebar_change_password %}
    {% if is_granted('ROLE_ADMIN') %}
        <a class="nav-link {% if active == 'changepassword' %}active{% endif %} overview"
           href="{{ url('backend_users_changepassword', {'id': '#temp#'}) }}" data-id="{{ id|default('') }}"
           data-action-type="changepassword" data-target="#content" data-action="nav"
           data-response-has-id="true">{{ 'sidebar.users.changepassword'|trans }}</a>
    {% endif %}
{% endblock %}
{% block backend_users_sidebar_details %}
    <a class="nav-link {% if active == 'details' %}active{% endif %} overview"
       href="{{ url('backend_users_details', {'id': '#temp#'}) }}" data-id="{{ id|default('') }}"
       data-action-type="details"
       data-target="#content"
       data-action="nav" data-response-has-id="true">{{ 'sidebar.users.details'|trans }}</a>
{% endblock %}
{% block backend_users_sidebar_delete %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a class="nav-link {% if active == 'delete' %}active{% endif %} overview" data-id="{{ id|default('') }}"
           href="{{ url('backend_users_delete', {'id': '#temp#'}) }}" data-action-type="delete" data-target="#content"
           data-action="nav" data-response-has-id="true">{{ 'sidebar.users.delete'|trans }}</a>
    {% endif %}
{% endblock %}