{% extends '@Themes/jinya-default-theme/base.html.twig' %}
{% block head_title %}
    &mdash; {{ gallery.name }}
{% endblock %}

{% block custom_meta %}
    {% if gallery.description is not empty %}
        <meta name="Description" content="{{ gallery.description }}">
    {% endif %}
{% endblock %}

{% block maincontent %}
    <div class="jinya-gallery jinya-gallery--{{ gallery.orientation }}">
        {% if gallery.artworks is defined %}
            {% for artworkPosition in gallery.artworks|sortByPosition %}
                {% set artwork = artworkPosition.artwork %}
                <figure class="jinya-gallery__artwork">
                    <img class="jinya-gallery-artwork__image" src="{{ artwork.picture }}" alt="{{ artwork.name }}">
                    <figcaption class="jinya-gallery__caption">
                        <h4 class="jinya-gallery-caption__title">{{ artwork.name }}</h4>
                        <p class="jinya-gallery-caption__content">{{ artwork.description }}</p>
                    </figcaption>
                </figure>
            {% endfor %}
        {% elseif gallery.videos is defined %}
            {% for videoPosition in gallery.videos|sortByPosition %}
                {% set video = null %}
                {% set isJinya = videoPosition.video is not null %}
                {% set isYoutube = videoPosition.youtubeVideo is not null %}
                {% if isJinya %}
                    {% set video = videoPosition.video %}
                {% elseif isYoutube %}
                    {% set video = videoPosition.youtubeVideo %}
                {% endif %}
                <figure class="jinya-gallery__video-container">
                    {% if isJinya %}
                        <video class="jinya-gallery__video--jinya" controls src="{{ video.video }}"
                               poster="{{ video.poster }}"></video>
                    {% elseif isYoutube %}
                        <iframe class="jinya-gallery__video--youtube"
                                src="https://www.youtube-nocookie.com/embed/{{ video.videoKey }}"></iframe>
                    {% endif %}
                    <figcaption class="jinya-gallery__caption">
                        <h4 class="jinya-gallery-caption__title">{{ video.name }}</h4>
                        <p class="jinya-gallery-caption__content">{{ video.description }}</p>
                    </figcaption>
                </figure>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}