{% extends '@Theme/jinya-default-theme/base.html.twig' %}
{% block head_title %}
    &mdash; {{ gallery.name }}
{% endblock %}

{% block custom_meta %}
    {% if gallery.description is not empty %}
        <meta name="Description" content="{{ gallery.description }}">
    {% endif %}
{% endblock %}

{% block maincontent %}
    <main>
        {%- set bemClassBlock = 'jinya-' ~ gallery.orientation ~ '-gallery' -%}
        <span class="jinya-gallery__page-title">{{ gallery.name }}</span>
        {% include '@Theme/jinya-default-theme/include/gallery.html.twig' with { 'gallery': gallery } %}
    </main>
{%- endblock -%}

{%- block scripts_frontend -%}
    {{- parent() -}}
    <script src="{{ asset('public/jinya-default-theme/scripts/gallery.' ~ gallery.orientation ~ '.js') }}"></script>
    <script src="{{ asset('public/jinya-default-theme/scripts/gallery.' ~ gallery.type ~ '.js') }}"></script>
    <script src="{{ asset('public/jinya-default-theme/scripts/gallery.mobile.js') }}"></script>
{%- endblock -%}
