{% extends '@Theme/jinya-default-theme/base.html.twig' %}
{% block head_title %}
    &mdash; {{ gallery.name }}
{% endblock %}

{% block custom_meta %}
    {% if gallery.description is not empty %}
        <meta name="Description" content="{{ gallery.description }}">
    {% endif %}
{% endblock %}

{% block maincontent %}
    {%- set bemClassBlock = 'jinya-' ~ gallery.orientation ~ '-gallery' -%}
    <main class="is--{{ gallery.type }}">
        <span class="{{- bemClassBlock -}}__page-title">{{ gallery.name }}</span>
        <div class="{{- bemClassBlock }} jinya-gallery--mobile is--{{ gallery.orientation }}">
            {%- for filePosition in gallery.files|sortByPosition -%}
                {%- set file = filePosition.file -%}
                <figure class="{{- bemClassBlock -}}__artwork jinya-gallery__artwork--mobile">
                    <img class="{{- bemClassBlock -}}-artwork__image jinya-gallery__image--mobile"
                         src="{{ file.path }}"
                         alt="{{ file.name }}"
                        {% if gallery.type == 'sequence' %}
                            data-action="masonry-click"
                            role="button"
                        {% endif %}
                    >
                    <figcaption class="{{- bemClassBlock -}}__caption jinya-gallery__caption--mobile">
                            <span
                                class="{{- bemClassBlock -}}-caption__title jinya-gallery-caption__title--mobile is--description-empty">
                                {{ file.name }}
                            </span>
                    </figcaption>
                </figure>
            {%- endfor -%}
        </div>
    </main>
{%- endblock -%}

{%- block scripts_frontend -%}
    {{- parent() -}}
    <script src="{{ asset('public/jinya-default-theme/scripts/gallery.' ~ gallery.orientation ~ '.js') }}"></script>
    <script src="{{ asset('public/jinya-default-theme/scripts/gallery.' ~ gallery.type ~ '.js') }}"></script>
    <script src="{{ asset('public/jinya-default-theme/scripts/gallery.mobile.js') }}"></script>
{%- endblock -%}
