{% extends '@Theme/jinya_gallery_default_theme/Frontend/base.html.twig' %}
{% block head_title %}
    {{ artwork.name }}
{% endblock %}

{% block maincontent %}
    <figure class="artwork">
        <img src="{{ artwork.picture }}" alt="{{ artwork.name }}"/>
        <figcaption>
            <strong>{{ artwork.name }}</strong>
            <p>{{ artwork.description }}</p>
        </figcaption>
    </figure>
{% endblock %}