<div class="page" id="scss_variables">
    {% for var in variables %}
        <div class="form-group">
            <label for="scss_variables[{{ var.0 }}]">{{ var.0 }}</label>
            <input type="text" id="scss_variables[{{ var.0 }}]" name="scss_variables[{{ var.0 }}]"
                    {% if theme.scssVariables[var.0] is defined %}
                        value="{{ attribute(theme.scssVariables, var.0) }}"
                    {% endif %}
                   placeholder="{{ var.1 }}">
        </div>
    {% endfor %}
</div>