<div class="row">
    <span class="h4 col-12">
        {% set createdBy = item.creator|last.firstname ~ ' ' ~ item.creator|last.lastname %}
        {% set createdAt = item.createdAt|last.date|localizeddate %}
        {{ createdAt }} &mdash; {{ createdBy }}
    </span>
</div>
<dl class="row">
    {% for key, item in item if item|last is not null %}
        {% set value = '' %}
        {% if key == 'updatedBy' or key == 'creator' %}
            {% set value = item|last.username %}
        {% elseif item|last.date is defined %}
            {% set value = item|last.date|localizeddate %}
        {% elseif item|last is iterable and not item|last matches '/.*/' %}
            {% set value = item|last.id %}
        {% elseif not item is iterable and item matches '/.*/' %}
            {% set value = item %}
        {% else %}
            {% set value = item|last %}
        {% endif %}
        <dt class="col-sm-2">
            {{ key }}
            {% if key != 'updatedBy' and key != 'creator' and key != 'createdAt' and key != 'lastUpdatedAt' %}
                <form method="post"
                      action="{{ url(reset_route, { 'id': id, 'origin': app.request.requestUri ~ '#' ~ entry.timestamp.timestamp }) }}"
                      class="pull-right mb-0">
                    <input type="hidden" name="key" value="{{ key }}"/>
                    <input type="hidden" name="value" value="{{ value }}"/>
                    <button type="submit" class="btn btn-link">
                        <i class="fa fa-repeat"></i>
                    </button>
                </form>
            {% endif %}
        </dt>
        <dd class="col-sm-10">{{ value }}</dd>
    {% endfor %}
</dl>