<script type="text/html" id="add-modal">
    <div class="md-modal">
        <div class="md-content">
            <span class="md-title">{{ 'designer.form.editor.add.modal.title'|trans }}</span>
            <div class="form">
                <div class="form-group">
                    <label for="label">{{ 'designer.form.editor.label'|trans }}</label>
                    <input data-bind="value: item().label" type="text" id="label">
                </div>
                <div class="form-group">
                    <label for="helpText">{{ 'designer.form.editor.helpText'|trans }}</label>
                    <input data-bind="value: item().helpText" type="text" id="helpText">
                </div>
                <div class="form-group">
                    <input data-bind="checked: item().required" type="checkbox" id="required">
                    <label for="required">{{ 'generic.required'|trans }}</label>
                </div>
                <div class="form-group">
                    <label for="type">{{ 'designer.form.editor.type'|trans }}</label>
                    <select id="type" data-bind="value: item().type">
                        <option value="Symfony\Component\Form\Extension\Core\Type\TextType">{{ 'designer.form.editor.types.singlelinetext'|trans }}</option>
                        <option value="Symfony\Component\Form\Extension\Core\Type\TextareaType">{{ 'designer.form.editor.types.multilinetext'|trans }}</option>
                        <option value="Symfony\Component\Form\Extension\Core\Type\EmailType">{{ 'designer.form.editor.types.email'|trans }}</option>
                        <option value="Symfony\Component\Form\Extension\Core\Type\ChoiceType">{{ 'designer.form.editor.types.dropdown'|trans }}</option>
                        <option value="Symfony\Component\Form\Extension\Core\Type\CheckboxType">{{ 'designer.form.editor.types.checkbox'|trans }}</option>
                    </select>
                </div>
                <!-- ko if: item().type() === "Symfony\\Component\\Form\\Extension\\Core\\Type\\ChoiceType" -->
                <div class="form-group">
                    <label for="options">{{ 'designer.form.editor.options'|trans }}</label>
                    <textarea data-bind="value: item().selectOptions" id="options" rows="10"></textarea>
                </div>
                <!-- /ko -->
            </div>
            <div class="md-footer">
                <button data-bind="click: save"
                        class="button button-round-s button-border-medium primary">{{ 'generic.save'|trans }}</button>
                <button data-action="close"
                        class="button button-round-s button-border-medium secondary">{{ 'generic.cancel'|trans }}</button>
            </div>
        </div>
    </div>
</script>