<a href="{{ url("designer_form_edit", { "slug": form.slug }) }}"
   title="{{ 'layout.designer.form.edit'|trans({ 'title': form.title }) }}"><i class="fa fa-edit"></i></a>
<a href="#" data-page-delete="true" data-delete-title="{{ 'designer.form.delete.title'|trans }}"
   data-delete-content="{{ 'designer.form.delete.content'|trans({ 'title': form.title }) }}"
   data-delete-positive-button="{{ 'generic.delete'|trans }}"
   data-delete-negative-button="{{ 'generic.dont.delete'|trans }}"
   data-delete-url="{{ url('designer_form_delete', { 'id': form.id }) }}"
   data-redirect-target="{{ url('designer_form_index') }}"
   title="{{ 'generic.delete'|trans }}"><i class="fa fa-trash"></i></a>