{% extends '@Designer/form/form.base.html.twig' %}

{% block title %}
    - {{ 'layout.designer.form.header.edit'|trans({'title': formModel.title}) }}
{% endblock %}
{% block header %}
    {{ 'layout.designer.form.header.edit'|trans({'title': formModel.title}) }}
{% endblock %}
{% block content %}
    <div data-form-editor="true" data-submit-url="{{ url('designer_form_save_form_with_id', {'id': formModel.id}) }}"
         data-form-id="{{ formModel.id }}" data-load-url="{{ url('designer_form_load_form', {'id': formModel.id}) }}">
        {% include '@Designer/form/editor.html.twig' %}
    </div>
    {% include '@Designer/form/AddElementModal.html.twig' %}
    <div id="modal"></div>
{% endblock %}

    {% block menu_bottom_links_form_specific %}
        {% include '@Designer/form/additionalLinks.html.twig' %}
    {% endblock %}