<div class="social-bar">
    {% if themeConfig.socialmedia.facebook is not empty %}
        <a target="_blank" href="{{ themeConfig.socialmedia.facebook }}">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="32px"
                 height="32px"
                 viewBox="0 0 24 24"
                 class="social-icon facebook">
                <path d="M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M18,5H15.5A3.5,3.5 0 0,0 12,8.5V11H10V14H12V21H15V14H18V11H15V9A1,1 0 0,1 16,8H18V5Z"></path>
            </svg>
        </a>
    {% endif %}
    {% if themeConfig.socialmedia.twitter is not empty %}
        <a target="_blank" href="{{ themeConfig.socialmedia.twitter }}">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="32px"
                 height="32px"
                 viewBox="0 0 24 24"
                 class="social-icon twitter">
                <path d="M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M17.71,9.33C18.19,8.93 18.75,8.45 19,7.92C18.59,8.13 18.1,8.26 17.56,8.33C18.06,7.97 18.47,7.5 18.68,6.86C18.16,7.14 17.63,7.38 16.97,7.5C15.42,5.63 11.71,7.15 12.37,9.95C9.76,9.79 8.17,8.61 6.85,7.16C6.1,8.38 6.75,10.23 7.64,10.74C7.18,10.71 6.83,10.57 6.5,10.41C6.54,11.95 7.39,12.69 8.58,13.09C8.22,13.16 7.82,13.18 7.44,13.12C7.81,14.19 8.58,14.86 9.9,15C9,15.76 7.34,16.29 6,16.08C7.15,16.81 8.46,17.39 10.28,17.31C14.69,17.11 17.64,13.95 17.71,9.33Z"></path>
            </svg>
        </a>
    {% endif %}
    {% if themeConfig.socialmedia.tumblr is not empty %}
        <a target="_blank" href="{{ themeConfig.socialmedia.tumblr }}">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="32px"
                 height="32px"
                 viewBox="0 0 24 24"
                 class="social-icon tumblr">
                <path d="M16,11H13V14.9C13,15.63 13.14,16 14.1,16H16V19C16,19 14.97,19.1 13.9,19.1C11.25,19.1 10,17.5 10,15.7V11H8V8.2C10.41,8 10.62,6.16 10.8,5H13V8H16M20,2H4C2.89,2 2,2.89 2,4V20A2,2 0 0,0 4,22H20A2,2 0 0,0 22,20V4C22,2.89 21.1,2 20,2Z"></path>
            </svg>
        </a>
    {% endif %}
    {% if themeConfig.socialmedia.instagram is not empty %}
        <a target="_blank" href="{{ themeConfig.socialmedia.instagram }}">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="32px"
                 height="32px"
                 viewBox="0 0 24 24"
                 class="social-icon instagram">
                <path d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z"></path>
            </svg>
        </a>
    {% endif %}
    {% if themeConfig.socialmedia.deviantart is not empty %}
        <a target="_blank" href="{{ themeConfig.socialmedia.deviantart }}">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="32px"
                 height="32px"
                 viewBox="0 0 24 24"
                 class="social-icon deviantart">
                <path d="M6,6H12L14,2H18V6L14.5,13H18V18H12L10,22H6V18L9.5,11H6V6Z"></path>
            </svg>
        </a>
    {% endif %}
    {% if themeConfig.socialmedia.youtube is not empty %}
        <a target="_blank" href="{{ themeConfig.socialmedia.youtube }}">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="32px"
                 height="32px"
                 viewBox="0 0 24 24"
                 class="social-icon youtube">
                <path d="M10,16.5V7.5L16,12M20,4.4C19.4,4.2 15.7,4 12,4C8.3,4 4.6,4.19 4,4.38C2.44,4.9 2,8.4 2,12C2,15.59 2.44,19.1 4,19.61C4.6,19.81 8.3,20 12,20C15.7,20 19.4,19.81 20,19.61C21.56,19.1 22,15.59 22,12C22,8.4 21.56,4.91 20,4.4Z"></path>
            </svg>
        </a>
    {% endif %}
    {% if themeConfig.fundme.patreon is not empty %}
        <a target="_blank" href="{{ themeConfig.fundme.patreon }}">
            <svg xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 8 8"
                 width="24px"
                 height="24px"
                 class="social-icon patreon">
                <path d="M2.32081783.3678855c.869042-.40526652 1.88661925-.47774603 2.80665096-.20727372.80652418.2346745 1.53190822.73363407 2.0426921 1.3983242.5050198.6523156.79854318 1.4641745.82647667 2.28752405.0354711.8511923-.21060967 1.71122356-.6952336 2.4134793-.71030882 1.0518368-1.9482503 1.72713368-3.22254963 1.73950823-.63803645.0008839-1.2760729.00044195-1.91366597 0 .00532067-1.34042898.0004434-2.68085797.00310373-4.0217289.00221694-.50647268.23011877-1.00499028.60921618-1.34131288.36180524-.3279256.85973083-.5002854 1.3474585-.46404565.50457642.03093638.98831357.2859405 1.30267622.68015833.3232304.3968695.46422805.93295272.38131434 1.4376576-.08114014.53122177-.41368172 1.01603898-.87790977 1.2882791-.5373872.3252739-1.2406018.3345548-1.7935076.04021728.00044338.43487706-.0008868.86975412.00044338 1.30463118.4934917.14407512 1.02201113.16838228 1.52392723.0539177.7431196-.16219502 1.4144102-.6174017 1.8444973-1.24187455.40969124-.5855814.59946164-1.31788962.52851943-2.02810043-.06030086-.6514317-.34052257-1.27944013-.78302457-1.7620476-.41013462-.4507872-.95860653-.77561914-1.55363427-.913507-.6837055-.162195-1.42372137-.07866678-2.05200326.23600036C1.64553673 1.7542771.962718 2.8206982.95207668 3.932198.95030312 5.2876532.95163328 6.6435504.9511899 7.99944755c-.3165796.0008839-.63360256.00044195-.95062554.00044195-.0004434-1.32584468.0004434-2.65168938-.0004434-3.97709212-.00443387-.56569374.11306415-1.13227137.3440697-1.6493508C.73215587 1.49662128 1.44778534.7691745 2.32081784.3678855z"></path>
            </svg>
        </a>
    {% endif %}
</div>