{% extends '@Theme/jinya-default-theme/base.html.twig' %}
{% block head_title %}
    &mdash; {{ formEntity.title }}
{% endblock %}

{% block maincontent %}
    {% form_theme form '@Theme/jinya-default-theme/Form/themes/jinya-cms.html.twig' %}
    <main class="jinya-form-page">
        <h1 class="jinya-form__title">{{ formEntity.title }}</h1>
        <div class="jinya-form__description">
            {{- formEntity.description|raw -}}
        </div>
        {% if mail_sent is defined and mail_sent == true %}
            <div class="jinya-message--positive">
                {{ themeConfig.form.messages.mail_sent_message }}
            </div>
        {% elseif (mail_sent is defined and mail_sent == false) or error is defined %}
            <div class="jinya-message--negative">
                {{ themeConfig.form.messages.mail_not_sent_message }}
            </div>
        {% endif %}
        {{ form_start(form) }}
        {{ form_row(form) }}
        <input type="text" tabindex="-1" style="display: none" name="contact_via_fax"/>
        <div class="jinya-form__row--buttons">
            <button class="jinya-button" type="submit">{{ themeConfig.form.buttons.submit }}</button>
        </div>
        {{ form_end(form) }}
    </main>
{% endblock %}