{% extends '@Designer/base.html.twig' %}
{% block content %}
    {% if gallery.background is not empty %}
        <img class="background-image" src="{{ gallery.background }}" alt="{{ gallery.name }}">
    {% endif %}
    <div class="gallery {{ gallery.orientation }}-scroll"
         data-source="{{ url('designer_gallery_images', { 'gallerySlug': gallery.slug }) }}"
         data-move="{{ url('designer_gallery_images_position_update', { 'gallerySlug': gallery.slug, 'artworkPositionId': '#tempid#' }) }}">
        <!-- ko foreach: images -->
        <div class="gallery-item">
            <div class="gallery-button-add" role="button" data-bind="click: $root.addImage">
            </div>
            {% if gallery.orientation == 'vertical' %}
                <!-- ko if: $index() !== 0 -->
                <button class="gallery-side-button-up" data-bind="click: $root.moveLeft"></button>
                <!-- /ko -->
            {% endif %}
            <div class="gallery-button-edit" role="button" data-bind="click: $root.editImage"></div>
            <div class="gallery-image-wrapper">
                <img data-bind="attr: { src: source }" class="gallery-image"/>
            </div>
            {% if gallery.orientation == 'vertical' %}
                <!-- ko if: $index() !== ($parent.images().length - 1) -->
                <button class="gallery-side-button-down" data-bind="click: $root.moveRight"></button>
                <!-- /ko -->
            {% endif %}
            {% if gallery.orientation == 'horizontal' %}
                <!-- ko if: $index() !== 0 -->
                <button class="gallery-footer-button-left" data-bind="click: $root.moveLeft"></button>
                <!-- /ko -->
                <!-- ko if: $index() !== ($parent.images().length - 1) -->
                <button class="gallery-footer-button-right" data-bind="click: $root.moveRight"></button>
                <!-- /ko -->
            {% endif %}
        </div>
        <!-- /ko -->
        <div class="gallery-item">
            <div class="gallery-button-add" role="button" data-bind="click: addImage">
            </div>
        </div>
    </div>
    <script type="text/html" id="add-modal-template">
        {% include 'DesignerBundle:gallery:AddArtworkModal.html.twig' %}
    </script>
    <script type="text/html" id="edit-modal-template">
        {% include 'DesignerBundle:gallery:EditArtworkModal.html.twig' %}
    </script>
{% endblock %}
{% block scripts_custom %}
    {{ parent() }}
    {% javascripts filter='jsqueeze' '@designer_gallery_js' output='public/js/designer/gallery.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}