{% extends '@Designer/base.html.twig' %}
{% block content %}
    <img class="background-image" src="{{ gallery.background }}" alt="{{ gallery.name }}">
    <div class="gallery-images {{ gallery.orientation }}-scroll"
         data-source="{{ url('designer_gallery_images', { 'gallerySlug': gallery.slug }) }}">
        <!-- ko foreach: images -->
        <div class="gallery-image gallery-image-action">
            <div class="gallery-image-add" role="button" data-bind="click: $root.addImage">
            </div>
        </div>
        <div class="gallery-image">
            <div class="gallery-image-edit-button" role="button" data-bind="click: $root.editImage"></div>
            <img data-bind="attr: { src: source }" class="gallery-image-edit"/>
        </div>
        <!-- /ko -->
        <div class="gallery-image gallery-image-action">
            <div class="gallery-image-add" role="button" data-bind="click: addImage">
            </div>
        </div>
    </div>
    <script type="text/html" id="add-modal-template">
        {% include 'DesignerBundle:gallery:AddArtworkModal.html.twig' %}
    </script>
    <script type="text/html" id="edit-modal-template">
        {% include 'DesignerBundle:gallery:EditArtworkModal.html.twig' %}
    </script>
{% endblock %}
{% block scripts_custom %}
    {{ parent() }}
    {% javascripts filter='jsqueeze' '@designer_gallery_js' output='public/js/gallery.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}