{% extends '@Designer/base.html.twig' %}
{% block content %}
    {% if gallery.background is not empty %}
        <img class="background-image" src="{{ gallery.background }}" alt="{{ gallery.name }}">
    {% endif %}
    <div class="gallery-images {{ gallery.orientation }}-scroll"
         data-source="{{ url('designer_gallery_images', { 'gallerySlug': gallery.slug }) }}"
         data-move="{{ url('designer_gallery_images_position_update', { 'gallerySlug': gallery.slug, 'artworkPositionId': '#tempid#' }) }}">
        <!-- ko foreach: images -->
        <div class="gallery-image">
            <div class="gallery-image-add" role="button" data-bind="click: $root.addImage">
            </div>
            {% if gallery.orientation == 'vertical' %}
                <!-- ko if: $index() !== 0 -->
                <button class="button-action-move" data-bind="click: $root.moveLeft">
                    <i class="fa fa-arrow-up"></i>
                </button>
            {% endif %}
            <div class="gallery-image-edit-button" role="button" data-bind="click: $root.editImage"></div>
            <div class="gallery-image-image">
                <img data-bind="attr: { src: source }" class="gallery-image-edit"/>
            </div>
            {% if gallery.orientation == 'vertical' %}
                <!-- ko if: $index() !== ($parent.images().length - 1) -->
                <button class="button-action-move" data-bind="click: $root.moveRight">
                    <i class="fa fa-arrow-down"></i>
                </button>
                <!-- /ko -->
            {% endif %}
            {% if gallery.orientation == 'horizontal' %}
                <!-- ko if: $index() !== 0 -->
                <button class="button-action-left" data-bind="click: $root.moveLeft"><i
                            class="fa fa-arrow-left"></i></button>
                <!-- /ko -->
                <!-- ko if: $index() !== ($parent.images().length - 1) -->
                <button class="button-action-right" data-bind="click: $root.moveRight"><i
                            class="fa fa-arrow-right"></i></button>
                <!-- /ko -->
            {% endif %}
        </div>
        <!-- /ko -->
        <div class="gallery-image">
            <div class="gallery-image-add" role="button" data-bind="click: addImage">
            </div>
        </div>
    </div>
    <script type="text/html" id="add-modal-template">
        {% include 'DesignerBundle:gallery:AddArtworkModal.html.twig' %}
    </script>
    <script type="text/html" id="edit-modal-template">
        {% include 'DesignerBundle:gallery:EditArtworkModal.html.twig' %}
    </script>
{% endblock %}
{% block scripts_custom %}
    {{ parent() }}
    {% javascripts filter='jsqueeze' '@designer_gallery_js' output='public/js/designer/gallery.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}