{% block form_row -%}
    {{- form_widget(form) -}}
{%- endblock form_row %}

{%- block hidden_widget -%}
    <input class="field"
           type="hidden" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{%- endblock hidden_widget -%}

{%- block choice_widget -%}
    {%- if required and placeholder is none and not placeholder_in_choices and not multiple and (attr.size is not defined or attr.size <= 1) -%}
        {% set required = false %}
    {%- endif -%}
    <div class="choice">
        <select class="cs-select cs-skin-underline" {{ block('widget_attributes') }}>
            <option value="" disabled selected="selected">{{ label }}</option>
            {%- if preferred_choices|length > 0 -%}
                {% set options = preferred_choices %}
                {{- block('choice_widget_options') -}}
                {%- if choices|length > 0 and separator is not none -%}
                    <option disabled="disabled">{{ separator }}</option>
                {%- endif -%}
            {%- endif -%}
            {%- set options = choices -%}
            {{- block('choice_widget_options') -}}
        </select>
    </div>
    {{- form_errors(form) -}}
{%- endblock choice_widget -%}

{%- block checkbox_widget -%}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{%- endblock checkbox_widget -%}

{%- block textarea_widget -%}
    <div class="textarea">
        <label>{{ label }}</label>
        <textarea
                class="field {% if value is not empty %}filled{% endif %}" {{ block('widget_attributes') }}>{{ value }}</textarea>
        {{- form_errors(form) -}}
    </div>
{%- endblock textarea_widget -%}

{% block form_widget_simple -%}
    <span class="input {% if value is not empty %}filled{% endif %}">
        {%- set type = type|default('text') -%}
        <input class="field"
               type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
        {{- form_label(form) -}}
        {{- form_errors(form) -}}
    </span>
{% endblock -%}

{% block form_label -%}
    <label {% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>
        <span class="content">{{ label }}</span>
    </label>
{%- endblock %}

{%- block form_start -%}
    {%- do form.setMethodRendered() -%}
    {% set method = method|upper %}
    {%- if method in ["GET", "POST"] -%}
        {% set form_method = method %}
    {%- else -%}
        {% set form_method = "POST" %}
    {%- endif -%}
    <form class="form"
          name="{{ name }}" method="{{ form_method|lower }}"{% if action != '' %} action="{{ action }}"{% endif %}{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
    {%- if form_method != method -%}
        <input type="hidden" name="_method" value="{{ method }}"/>
    {%- endif -%}
{%- endblock form_start -%}