{% extends 'BackendBundle:users:users_base.html.twig' %}

{% set sidebar_active = 'add' %}
{% block content %}
    {% form_theme form with ['bootstrap_4_horizontal_layout.html.twig', '@Backend/form/themes/jinya_gallery.html.twig'] %}
    {{ form_errors(form) }}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
            <button type="submit" class="btn btn-primary">{{ 'backend.users.save'|trans }}</button>
            <a class="btn btn-secondary" href="{{ url('backend_users_overview') }}" data-target="#content"
               data-action="nav">{{ 'backend.users.cancel'|trans }}</a>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}