{% extends 'BackendBundle:users:users_base.html.twig' %}

{% block content %}
    <h2>{{ 'sidebar.users.overview'|trans }}</h2>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>{{ 'backend.users.username'|trans }}</th>
                <th>{{ 'backend.users.firstname'|trans }}</th>
                <th>{{ 'backend.users.lastname'|trans }}</th>
                <th>{{ 'backend.users.active'|trans }}</th>
                <th>{{ 'backend.users.email'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr data-id="{{ user.id }}">
                    <td>{{ user.username }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>
                        <span class="fa {% if user.active %}fa-check text-success{% else %}fa-times text-danger{% endif %}"></span>
                    </td>
                    <td>{{ user.email }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}