<div class="form grid">
    <div class="half">
        <div class="form-group">
            <label for="name">{{ 'designer.menu.editor.name'|trans }}</label>
            <input id="name" type="text" data-bind="value: menu().name">
        </div>
    </div>
    <div class="half">
        <div class="form-group">
            <label>{{ 'designer.menu.editor.items.header'|trans }}</label>
            {% include '@Designer/menu/MenuDisplay.html.twig' %}
            <div data-bind="template: { name: 'menuDisplayTemplate' }"></div>
        </div>
    </div>
    <div class="full">
        <div class="buttons">
            <button type="button" data-bind="click: submit"
                    class="button button-round-s button-border-medium primary">{{ 'generic.save'|trans }}</button>
            {% if menu is defined %}
                {% set target = url('designer_menu_details', { 'id': menu.id }) %}
            {% else %}
                {% set target = url('designer_menu_index') %}
            {% endif %}
            <a href="{{ target }}"
               class="button button-round-s button-border-medium secondary">{{ 'generic.cancel'|trans }}</a>
        </div>
    </div>
</div>