{% apply inline_css %}
    {% apply inky_to_html %}
        <container>
            <spacer size="10"></spacer>
            <p>
                Hello,<br/><br/>
                for the form <i>{{ form.name }}</i> you have <b>{{ unreadCount }} unread messages</b>.<br/>
                You also have <b>{{ spamCount }} spam messages</b>.<br/>
                Head over to <a target="_blank"
                        href="https://{{ instanceHost }}/designer/static/forms/messages/form/{{ form.slug }}">{{ instanceName }}</a>
                and check the messages.
            </p>
            <p>
                Greetings,<br/>
                Your Jinya Team
            </p>
        </container>
    {% endapply %}
{% endapply %}